#root {
  height: 100%;
  width: 100%;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--font-color); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video-player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
